.crewPage {
    flex-direction: column;
    flex-grow: 1;
}

.info {
    flex-direction: column;
}

.crew {
    flex-direction: column;
    padding-inline: 2rem;
    flex-grow: 1;
    align-items: center;
}

.crewPage h2 {
    letter-spacing: 2.7px;
    font-size: 1rem;
    font-weight: 400;
    margin-block: 1.5rem;
}

.crewPage h2 span {
    font-weight: bold;
    color: hsl(0, 0%, 33%);
}

.crewImg {
    display: block;
    border-bottom: solid 1px hsla(0, 0%, 59%, 0.5);
    padding-inline: 4rem;
    width: 327px;
    height: 223px;
}

.crew button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #727272;
    margin-top: 21px;
}

.crew button:hover {
    cursor: pointer;

}

.crew button.selected {
    background-color: #fff;
}

.role {
    color:#727272;
    margin-block: 5px;

}

.crewName {
    font-size: 1.5rem;
    margin: 0;
}

.bio {
    font-size: 15px;
    line-height: 25px;
    color: #D0D6F9;
    letter-spacing: 1px;
}

.crewList {
    padding: 0;
    justify-content: center;
    gap: 1rem;
}

@media only screen and (min-width: 650px) {

    .crewPage h2 {
        text-align: left;
        letter-spacing: 3.38px;
        font-size: 1.25rem;
        padding-inline: 2rem;
        margin-block: 2rem;
    }

    .crew {
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        padding-inline: 9.25rem;
    }

    .info {
        flex-direction: column-reverse;
    }

    .role {
        font-size: 1.5rem;
    }

    .crewName {
        font-size: 2.5rem;
    }

    .crewList {
        margin-bottom: 1rem;
    }

    .bio {
        line-height: 28px;
        margin-top: 1rem;
        font-size: 1rem;
        letter-spacing: 0;
    }

    .crewImg {
        width: 457px;
        height: 533px;
        padding-inline: 0rem;
    }

    .crew button {
        margin-bottom: 2rem;
    }

    .main {
        padding-inline: 2rem;
    }

}

@media only screen and (min-width: 1270px) {
    .crew {
        flex-direction: row-reverse;
    } 

    .main {
        flex-direction: column;
    }

    .crewPage {
        padding-inline: 7rem 4rem;
        padding-top: 3rem;
    }

    .crewPage h2 {
        font-size: 28px;
    }

    .crew {
        padding: 0;
    }

    .info {
        text-align: left;
        align-items: flex-start;
        padding-left: 2rem;
        margin-top: 2rem;
        width: 50%;
    }

    .role {
        font-size: 2rem;
    }

    .crewName {
        font-size: 3.5rem;
    }

    .bio {
        font-size: 1.5rem;
        line-height: 32px;
        padding-right: 13rem;
        margin-block: 2rem 0;
        height: 160px;
    }

    .crewList button {
        width: 15px;
        height: 15px;
        margin-top: 4rem;
    }

    .crewPage picture {
        margin-top: auto;
    }

    .crewImg {
        width: 100%;
        height: auto;
        max-height: 620px;
    }
}
