.main {        
    padding-bottom: 1rem;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
    text-align: center;
    color: #D0D6F9;
    flex-grow: 1;
    justify-content: space-around;
    margin-top: 4rem;
}

.description {
    flex-direction: column;
}

.description h1 {
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 2.7px;
}

.description h1 span {
    color: #fff;
    font-size: 5rem;
    letter-spacing: 0px;
}

.description p {
    line-height: 25px;
    font-size: 15px;
    padding-inline: 3.5rem;
}

.explore {
    width: 150px;
    aspect-ratio: 1;
    border: none;
    border-radius: 50%;
    letter-spacing: 1.25px;
    font-size: 20px;
    background-color: #fff;
    text-align: center;
}

.exploreLink {
    text-decoration: none;
    color: #000;
}

@media only screen and (min-width: 650px) {

    .main {
        padding-bottom: 0rem;
    }

    .description h1 {
        font-size: 20px;
        letter-spacing: 3.38px;
    }

    .description h1 span {
        font-size: 150px;
    }

    .description p {
        margin: 0;
        padding-inline: 11rem;
        font-size: 1rem;
        line-height: 28px;
    }

    .explore {
        width: 242px;
        aspect-ratio: 1;
        font-size: 2rem;
    }
}

@media only screen and (min-width: 1024px) {

    .main {
        flex-direction: row !important;
        align-items: flex-end;
        justify-content: space-between;
        padding: 0 10rem 8rem 10rem !important;
    }

    .description {
        text-align: left;
        width: 40%;
    }

    .description h1 {
        font-size: 28px;
        letter-spacing: 4.72px;
    }

    .description p {
        padding-right: 1rem;
        padding: 0rem;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 1.5px;
    }

    .explore {
        width: 274px;
        aspect-ratio: 1;
    }

    .explore:hover {
        cursor: pointer;
        outline: hsla(214, 41%, 29%, 0.5) solid 3rem;
        transition: outline 500ms ease-in-out;
    }
}







