.header {
    padding-top: 1.5rem;
    padding-left: 1.5rem;
}

.nav-list {
    margin: 0;
    padding-top: 6rem;
    list-style-type: none; 
    letter-spacing: 2.7px; 
    gap: 1rem;
    position: fixed;
    inset: 0 0 0 30%;
    /* background-color: hsla(0, 0%, 0%, 0.5); */
    z-index: 1;
    transform: translateX(100%);
    transition: transform 500ms ease-in-out;
    flex-direction: column;
}

.mobile-nav-toggle {
    position: absolute;
    z-index: 2;
    top: 2rem;
    right: 1.5rem;
    border: 0;
    background-color: transparent;
    background-image: url("../../assets/shared/icon-hamburger.svg");
    background-repeat: no-repeat;
    width: 1.5rem;
    aspect-ratio: 1;
}

@supports (backdrop-filter: blur(1.5rem)) {
        .nav-list {
            background-color: hsla(0, 0%, 0%, 1);
            backdrop-filter: blur(1.5rem);
        }
    }

    .nav-list span {
        font-weight: 700;
    }

    .visible {
        transform: translate(0%);
        display: flex;
  
}

.close-icon {
    background-image: url("../../assets/shared/icon-close.svg") !important;
}

.nav-list li a {
    text-decoration: none;
    color: #fff; 
}

@media only screen and (min-width: 650px) {

    .mobile-nav-toggle {
        display: none;
    }

    .header {
        align-items: center;
        justify-content: space-between;
        padding-top: 0;
    }

    nav {
        flex-grow: 0.3;
    }
    
    .nav-list {
        position: static;
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        transform: translateX(0%);
        height: 6rem;
        /* padding-inline: 2.5rem; */
        gap: 2rem;
        background-color: hsla(0, 0%, 100%, 0.04);
    }

    .nav-list span {
        display: none;
    }

    .nav-list a:hover {
        cursor: pointer;
        padding-bottom: 2.25rem;
        border-bottom: 2px solid hsl(0, 0%, 59%);
    }

    .nav-list a:active {
        border-bottom:2px solid #fff;
    }
}

@media only screen and (min-width: 1024px) {

    .header {
        padding: 2.5rem 0 0 3rem;
    }

    .line {
        margin-left: 3rem;
        height: 0.5px;
        background: hsla(0, 0%, 59%, 0.5);
        flex-grow: 1;
        z-index: 2;

    }

    .nav-list {
        margin-left: -1.5rem;
        justify-content: flex-start;
        padding-left: 7rem;
        gap: 3rem;
    }

    .nav-list span {
        display: inline;
    }
}