.techPage {
    flex-direction: column;
    flex-grow: 1;
}

.techInfo {
    flex-direction: column;
}

.tech {
    flex-direction: column;
}

.techPage h2 {
    letter-spacing: 2.7px;
    font-size: 1rem;
    font-weight: 400;
    margin-block: 1.5rem;
}

.techPage h2 span {
    font-weight: bold;
    color: hsl(0, 0%, 33%);
}

.techImg {
    display: block;
    width: 100%;
    height: 170px;
}

.tech button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid 1px #727272;
    background-color: #000;
    margin-top: 21px;
    color: #fff;
    font-size: 1rem;
    font-family: inherit;
}

.tech button:hover {
    cursor: pointer;
}

.tech button.selected {
    background-color: #fff;
    color: #000;
}

.terminology {
    font-size: 14px;
    color:#D0D6F9;
    margin-block: 10px;
    letter-spacing: 2.36px;
}

.techName {
    font-size: 1.5rem;
    margin: 0;
    color: #fff;
}

.techDescription {
    font-size: 15px;
    line-height: 25px;
    color: #D0D6F9;
    padding-inline: 59px;
    letter-spacing: 1px;
}

.techList {
    padding: 0;
    justify-content: center;
    gap: 1rem;
    margin-block: 1.5rem;
}

@media only screen and (min-width: 650px) {

    .techPage h2 {
        text-align: left;
        letter-spacing: 3.38px;
        font-size: 1.25rem;
        padding-inline: 2rem;
        margin-block: 2rem;
    }

    .terminology {
        font-size: 1rem;
        letter-spacing: 2.7px;
        margin-block: 1rem;
    }

    .techName {
        font-size: 2.5rem;
    }

    .techList {
        margin-bottom: 2rem;
    }

    .techDescription {
        line-height: 28px;
        font-size: 1rem;
        letter-spacing: 0;
        margin-top: 2rem;
        padding-inline: 208px;
    }

    .techImg {
        height: 310px;
        margin-top: 2rem;
    }

    .tech button {
        width: 60px;
        height: 60px;
        font-size: 1.5rem;
        letter-spacing: 1.5px;
    }

}

@media only screen and (min-width: 1270px) {

    .techPage {
        padding: 5em 0 5em 6.75em;
    }

    .tech {
        flex-direction: row-reverse;
        gap: 5em;
        align-items: center;
    } 

    .techPage h2 {
        font-size: 28px;
        margin: 0;
    }

    .tech button {
        font-size: 2rem;
    }

    .techInfo {
        flex-direction: row;
        text-align: left;
        gap: 5em;
        padding-top: 2em;
        width: 55%;
    }

    .techName {
        font-size: 3.5rem;
        letter-spacing: 0;
    }

    .techDescription {
        font-size: 1.125rem;
        line-height: 32px;
        padding-inline: 0 6em;
        letter-spacing: 1.5px;
        height: 160px;
    }

    .techList {
        flex-direction: column;
        padding-left: 1em;
        justify-content: flex-start;
        margin-block: 0;
    }

    .techList button {
        width: 80px;
        height: 80px;
        justify-content: flex-start;
    }

    .techImg {
        width: 100%;
        height: auto;
        max-width: 515px;
    }
}
