.App {
  /* text-align: center; */
  min-height: 100vh;
  background: url('./assets/home/background-home-mobile.jpg') #000 no-repeat center;
  background-size: cover;
  overflow-x: hidden;
}

@media only screen and (min-width: 650px) {
  .App {
    background: url('./assets/home/background-home-tablet.jpg') #000 no-repeat center;
    background-size: cover;
  }
}

@media only screen and (min-width: 1024px) {
  .App {
    background: url('./assets/home/background-home-desktop.jpg') #000 no-repeat center;
    background-size: cover;
  }
}
