:root {
  /* font-families */
  --ff-barlow: "Barlow Condensed", serif;
}

* {
  box-sizing: border-box;
}

/* Utility classes */
.flex {
  display: flex;
}

.sr-only {
  position: absolute; 
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px; 
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.ff-barlow {
  font-family: var(--ff-barlow);
}
 
body {
  margin: 0;
  font-weight: 400;
}